.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slogan-container {
    display: flex;
    align-items: center;
}

.slogan-text {
    margin-top: 0; /* Reset the default margin */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%; /* Make the text container fill the height */
}