.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slogan-container {
    display: flex;
    align-items: center;
}

.slogan-text {
    margin-top: 20px; 
}
