
{% block styles %}
<link rel="icon"
      type="image/ico"
      href="static/favicon.ico">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" href="#">Channel Response Bot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
    </div>
  </nav>
  
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="slogan-container">
                <h1>Slackbot uses the same response in every channel</h1>
                <p>Channel Response Bot doesn't.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="logo-container">
                <img src="{{url_for('static', filename='img/crbot.png')}}" alt="Logo" class="img-fluid">
            </div>
        </div>
    </div>
  </div>





  <div class="container blurb footer text-center">
      <p>GRBLDeveloped@gmail.com</p>
  </div>


{% endblock %}
