<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Channel Response Bot</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/vendor/aos/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/vendor/remixicon/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">


    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/style.css') }}">
    <!-- =======================================================
    * Template Name: Arsha
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="index.html">Channel Response Bot</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="https://www.channelresponsebot.com">Home</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
            </div>

            <div class="row content">
                <div class="col-lg-12">
                    <!DOCTYPE html>
                    <style>
                        body {
                            font-family: Arial, sans-serif;
                            margin: 0;
                            padding: 0;
                            line-height: 1.6;
                        }

                        container {
                            margin: 50px auto;
                            max-width: 800px;
                        }

                        h1, h2, p {
                            margin-bottom: 20px;
                        }

                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                        }
                    </style>
                    <h1>Terms of Service</h1>
                    <p>These Terms of Service are a contract between you and GRBLDeveloped Ltd. (referred to as "Channel
                        Response Bot").</p>

                    <p>By using the Services of Channel Response Bot on the web or on any other applications that give
                        access to Channel Response Bot (e.g. within another platform like Slack or Microsoft Teams), you
                        are bound to agree to the following Terms of Use.</p>

                    <p>If a user violates any of the terms outlined below, we reserve the right to cancel accounts or
                        bar access to accounts without notice. If you do not agree to these terms, please do not use our
                        Services.</p>

                    <p>Channel Response Bot reserves the right to update and modify the Terms of Use at any time without
                        notice. New features that may be added to the Service shall be subject to the Terms of Use.
                        Should you continue to use the Service after any such modifications have been made, this shall
                        constitute your agreement to such modifications.</p>

                    <p>The mark Channel Response Bot and the Channel Response Bot logo are trademarks of
                        GRBLDeveloped.</p>

                    <h2>1 - Account Terms</h2>
                    <p>
                    <p>You must be a human. Accounts registered by “bots” or other automated methods are not
                        permitted.</p>
                    <p>You are responsible for maintaining the privacy and security of your account. Channel Response
                        Bot will not be held liable for any damage or loss that may result from your failure to protect
                        your login information, including your password.
                    </p>
                    <p>Channel Response Bot may communicate with you via email, in-app messages or pushed notifications
                        regarding your account, system updates, or other issues related to your account.
                    </p>
                    <p>You are responsible for all Content send and activity that occurs under your account (even when
                        Content is send by others to your account).
                    </p>
                    <p>You may not use Channel Response Bot for any illegal or unauthorized purpose. You must not, in
                        the use of Channel Response Bot, violate any laws in your jurisdiction (including but not
                        limited to copyright laws).
                    </p>
                    <!-- Other items will be similarly listed -->

                    <h2>2 - Payment and Access</h2>
                    <p>A valid credit card or bank account is required for paying accounts. Trial accounts are not
                        required to provide a credit card number.</p>
                    <p>Should you upgrade or downgrade your premium plan, you will be charged your new billing rate
                        immediately. The Channel Response Bot Service is billed in advance in accordance with our
                        pricing schedule and all monthly payments are nonrefundable.</p>
                    <p>There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or
                        refunds for months unused with an open account. In order to treat everyone equally, no
                        exceptions will be made.</p>
                    <p>Our company policy is to not extend discounts for a period of more than 12 months. All fees are
                        exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be
                        responsible for payment of all such taxes, levies, or duties, excluding only United States
                        (federal or state) taxes. You agree to pay for any such taxes that might be applicable to your
                        use of Channel Response Bot and payments made by you herein.</p>
                    <h2>3 - Modifications to the Service and Fees</h2>
                    <p>Channel Response Bot reserves the right to modify, suspend, or discontinue the Service at any
                        time for any reason with or without notice.</p>
                    <p>Channel Response Bot reserves the right to change our monthly/annually fees upon 30 days notice
                        from us. Fee change will be notified per email to all our subscribers and will be reflected on
                        the Pricing page.</p>
                    <p>Channel Response Bot reserves the right to update and change the Terms of Service from time to
                        time without notice. Any new features that augment or enhance the current Service, including the
                        release of new tools and resources, shall be subject to the Terms of Service.</p>
                    <h2>4 - Cancellation and Termination</h2>
                    <p>You alone are responsible for properly cancelling your Account. An email or phone request to
                        cancel your Account shall result in cancellation.</p>
                    <p>Any cancellation of your Account will result in the deactivation or deletion of your Account or
                        your access to your Account, and the forfeiture and relinquishment of all Content in your
                        Account. This information cannot be recovered from Channel Response Bot once your account is
                        cancelled.</p>
                    <p>Please be aware that you can cancel at any time, but you will remain liable for all charges
                        accrued up to that time, including full monthly charges for the month which you discontinued
                        service. You will not be charged again.</p>
                    <p>Channel Response Bot reserves the right to (i) modify or discontinue, temporarily or permanently,
                        the Service (or any part thereof) and (ii) refuse any and all current and future use of the
                        Service, suspend or terminate your account (any part thereof) or use of the Service and remove
                        and discard any of Your Content in the Service, for any reason, including if Channel Response
                        Bot believes that You have violated these Terms of Use.</p>
                    <p>Channel Response Bot will use all reasonable efforts to contact You directly to warn You prior to
                        suspension or termination of Your account. Any suspected fraudulent, abusive, or illegal
                        activity that may be grounds for termination of Your use of Service, may be referred to
                        appropriate law enforcement authorities. Channel Response Bot shall not be liable to You or any
                        third party for any modification, suspension or discontinuation of the Service.</p>
                    <h2>5 -Content and Content Rights</h2>
                    <p>For purposes of these Terms:</p>
                    <ul>
                        <li>(i) “Content” means text, graphics, images, music, software, audio, video, works of
                            authorship
                            of any kind, and information or other materials that are posted, generated, provided or
                            otherwise made available through the Services; and
                        </li>
                        <li>(ii) “User Content” means any Content that users (including you) provide to be made
                            available
                            through the Services. Content includes without limitation User Content.
                        </li>
                    </ul>

                    <h3>Content Ownership, Responsibility and Removal</h3>
                    <p>Channel Response Bot does not claim any ownership rights in any User Content and nothing in
                        these Terms will be deemed to restrict any rights that you may have to use and exploit your User
                        Content. Subject to the foregoing, Channel Response Bot and its licensors exclusively own all
                        right, title and interest in and to the Services and Content, including all associated
                        intellectual property rights.</p>
                    <p>You acknowledge that the Services and Content are protected by
                        copyright, trademark, and other laws of the United States and foreign countries. You agree not
                        to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights
                        notices incorporated in or accompanying the Services or Content.</p>
                    <p>Rights in User Content Granted by You. By making any User Content available through the Services
                        you hereby grant to Channel Response Bot a non-exclusive, transferable, sublicenseable,
                        worldwide, royalty-free license to use, copy, modify, create derivative works based upon, and
                        distribute your User Content in connection with the following limited purposes:</p>
                    <ul>
                        <li>(a) providing the Services to you and your organization as contemplated by this Agreement;
                        </li>
                        and
                        <li>(b) creating de-identified aggregated benchmark data.</li>
                    </ul>
                    <p>You are solely responsible for all your User Content. You represent and warrant that you own all
                        your User Content or you have all rights that are necessary to grant us the license rights in
                        your User Content under these Terms.</p>
                    <p>You also represent and warrant that neither your User Content, nor your use and provision of
                        your User Content to be made available through the Services, nor any use of your User Content by
                        Channel Response Bot on or through the Services will infringe, misappropriate or violate a third
                        party’s intellectual property rights, or rights of publicity or privacy, or result in the
                        violation of any contract by which you are bound, or of any applicable law or regulation.</p>
                    <p>You can remove your User Content by specifically deleting it, or by following procedures
                        outlined in our Privacy Policy.</p>


                    <h2>6 - General Conditions</h2>
                    <p>Your use of the Service, including any Content, information or functionality contained within
                        it, is provided “as is” and “as available” with no representations or warranties of any kind,
                        either expressed or implied, including but not limited to, the implied warranties of
                        merchantability, fitness for a particular purpose, and non-infringement. You assume total
                        responsibility and risk for your use of these Service.</p>
                    <p>You agree not to resell, duplicate, reproduce or exploit any part of the Service without the
                        express written permission of Channel Response Bot.</p>
                    <p>You agree not to export or collect, by any electronic or other means, email addresses or other
                        information of other users of the Service for the purpose of sending emails or other unsolicited
                        correspondence.</p>
                    <p>You agree not to act in a way that risks damaging, deactivating, or overloading the Service or
                        its infrastructure.</p>
                    <p>You agree not to distribute anything containing a computer virus or any code, file or software
                        program intended to interrupt, destroy or limit the functionality of the Service or its
                        infrastructure.</p>
                    <p>Channel Response Bot makes no warranties regarding (i) your ability to use the Service, (ii)
                        your satisfaction with the Service, (iii) that the Service will be available at all times,
                        uninterrupted, and error-free (iv), the accuracy of mathematical calculations performed by the
                        Service, and (v) that bugs or errors in the Service will be corrected. Channel Response Bot and
                        its affiliates and its sponsors are neither responsible nor liable for any direct, indirect,
                        incidental, consequential, special, exemplary, punitive or other damages arising out of or
                        relating in any way to your use of the Service. Your sole remedy for dissatisfaction with the
                        Service is to stop using the Service.</p>
                    <p>If any provision of the Terms of Use is held invalid or otherwise unenforceable, the
                        enforceability of the remaining provisions shall not be impaired thereby.
                        Channel Response Bot may, but have no obligation to, remove Content and Accounts containing
                        Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous,
                        defamatory, pornographic, obscene or otherwise objectionable or violates any party’s
                        intellectual property or these Terms of Use.</p>
                    <p>
                        The failure of Channel Response Bot to exercise any right provided for herein shall not be
                        deemed a waiver of any right hereunder. The Terms of Use sets forth the entire understanding
                        between you and Channel Response Bot as to the Service and supersedes any prior agreements
                        between you and Channel Response Bot (including, but not limited to, prior versions of the Terms
                        of Use).
                        Any questions regarding the Terms of Use should be addressed to ChannelResponseBot@gmail.com</p>

                    <h2>7 - Governing Law</h2>
                    <p>Unless otherwise required by law – and which shall only be applied strictly for its intended
                        purpose, it is expressly agreed that US law shall be the law applicable to these Terms of
                        Use
                        and any litigation between you and GRBLDeveloped. related to the use of the Channel Response
                        Bot
                        Service shall be submitted to the jurisdiction of a competent court in Delaware.</p>

                    <p>These Terms of Service will be governed by and construed in accordance with the laws of the
                        State
                        of Delaware, without giving effect to its conflict of law provisions or your actual state or
                        country of residence. If for any reason a court of competent jurisdiction finds any
                        provision or
                        portion of the Terms of Service to be unenforceable, the remainder of the Terms of Service
                        will
                        continue in full force and effect.</p>

                    <p>To support delivery of our services, Channel Response Bot may use data processors with access
                        to
                        certain customer data (referred to as subprocessor). For such purposes, we will provide
                        information about the identity, location, and role of each subprocessor.</p>

                    <h2>Third Party Subprocessors</h2>
                    <p>Channel Response bot uses several third-party subprocessors to provide infrastructure
                        services,
                        and payment processing. Prior to use of any third-party services, Channel Response Bot
                        conducts
                        a thorough evaluation of their privacy, security, and confidentiality practices before
                        implementing them.</p>


                    <table>
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Service</th>
                            <th>Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Amazon Web Services, Inc</td>
                            <td>Infrastructure</td>
                            <td>America</td>
                        </tr>
                        <tr>
                            <td>LemonSqueezy, Inc</td>
                            <td>Merchant of Record</td>
                            <td>America</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End About Us Section -->


    <div class="container footer-bottom clearfix">
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('.static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/vendor/php-email-form/validate.js') }}"></script>


    <!-- Template Main JS File -->
    <script src="{{ url_for('.static', filename='assets/js/main.js') }}"></script>


</body>

</html>